.details-bar {
    position: fixed;
    top: 0;
    /* ---- */
    right: -100%;
    height: 100vh;
    z-index: 10;
    min-width: 368px;
    background-color: var(--clr-light);
    box-shadow: -2px 4px 50px rgba(14, 14, 44, 0.1);
    padding: 24px;
    padding-bottom: 0;
    overflow: scroll;
}

.details-bar::-webkit-scrollbar {
    width: 0;
}

.details__close {
    position: absolute;
    top: 24px;
    right: 24px;
    cursor: pointer;
}

.details__timer {
    /* margin-top: 40px; */
    border-bottom: 2px solid var(--clr-accent);
    padding-bottom: 32px;
    margin-bottom: 32px;
}

.details__timer-title {
    font-size: var(--size-h2);
    font-weight: bold;
    margin-bottom: 16px;
}

.details__edit-title {
    background-color: var(--clr-accent);
    padding: 12px 16px;
    /* box-shadow: 4px 4px 50px rgba(14, 14, 44, 0.2); */
    border: 1px solid var(--clr-subtle-text);
    margin-bottom: 32px;
}

.details__title-container,
.details__subtask-container {
    display: flex;
    align-items: center;
    gap: 8px;
}

.details__title-container {
    margin-bottom: 8px;
}

.details__subtask-container {
    cursor: pointer;
}

.details__title {
    font-size: var(--size-body);
    color: var(--clr-text);
    font-weight: 500;
    line-height: 140%;
}

.details__subtask {
    font-size: var(--size-small);
    color: var(--clr-secondary);
}

.details__date-title {
    font-size: var(--size-body);
    text-transform: uppercase;
    font-weight: bold;
    color: var(--clr-text);
    margin-bottom: 8px;
}

.details__date-box-container {
    padding: 16px;
    background-color: var(--clr-accent);
    border: 1px solid var(--clr-subtle-text);
}

.details__date-box {
    display: flex;
    align-items: center;
    gap: 8px;
    cursor: pointer;
}

.details__date-box:not(:last-child) {
    padding-bottom: 16px;
    margin-bottom: 16px;
    border-bottom: 1px solid var(--clr-subtle-text);
}

.details__edit-name {
    font-size: var(--size-small);
    font-weight: 500;
    color: var(--clr-text);
}

.details__edit-additional {
    display: flex;
    align-items: center;
    gap: 8px;
    padding: 16px;
    background-color: var(--clr-accent);
    border: 1px solid var(--clr-subtle-text);
    margin-block: 16px;
    cursor: pointer;
}

.details__note {
    background-color: var(--clr-accent);
    border: 1px solid var(--clr-subtle-text);
    outline: none;
    padding: 16px;
    resize: none;
    width: 100%;
    height: 150px;
}

.details__footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-block: 8px;
    margin-top: 56px;
    border-top: 1px solid var(--clr-subtle-text);
}

.details__footer-date {
    font-size: var(--size-small);
    color: var(--clr-text);
    font-weight: 500;
}
