.main {
    padding: 24px;
    width: 100%;
    height: 100vh;
    overflow-y: scroll;
}

/* NAVBAR */
.main__navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;

    margin-bottom: 32px;
}

.navbar__time {
    text-align: left;
}

.navbar__day {
    font-size: var(--size-small);
    font-weight: 500;
    line-height: 140%;
}

.navbar__date {
    font-size: var(--size-h3);
    font-weight: bold;
}

.navbar__info {
    display: flex;
    align-items: center;
    gap: 16px;
}

.navbar__icon {
    cursor: pointer;
}

/* TITLE */
.main-title-container {
    text-align: left;
}

.main__pretitle {
    font-size: var(--size-pre-title);
    font-weight: bold;
    /* letter-spacing: 3%; */
    text-transform: uppercase;
    color: var(--clr-primary);
}

.main__title {
    font-size: var(--size-h2);
    font-weight: bold;
    margin-bottom: 16px;
}

.main__search {
    position: relative;
}

.main__search-input {
    width: 50%;
    background-color: var(--clr-accent);
    border: 1px solid var(--clr-subtle-text);
    outline: none;
    border-radius: 8px;
    padding-block: 16px;
    padding-inline: 64px 16px;
    color: var(--clr-text);
    box-shadow: 4px 4px 10px rgba(14, 14, 44, 0.1);
}

.main__search-input:focus {
    border-color: var(--clr-text);
}

.main__search-icon {
    position: absolute;
    top: 50%;
    left: 24px;
    transform: translateY(-50%);
    cursor: pointer;
}

/* TASKS */
.tasks__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 50%;
    margin-block: 56px 24px;
}

.header__title {
    font-size: var(--size-h2);
    font-weight: bold;
}

@media (max-width: 1024px) {
    .main__search-input,
    .tasks__header {
        width: 80%;
    }
}

@media (max-width: 768px) {
    .main__search-input,
    .tasks__header {
        width: 100%;
    }
}
