.timer {
    position: fixed;
    inset: 0;
    z-index: 100;

    opacity: 0;
    scale: 0.5s;
    visibility: hidden;
    pointer-events: none;
    transition-property: opacity, scale;
    transition-duration: 0.3s;
}

.timer.active {
    opacity: 1;
    scale: 1;
    visibility: visible;
    pointer-events: all;
}

.timer__bg {
    position: absolute;
    inset: 0;
    background-color: rgba(14, 14, 44, 0.7);
}

.timer__content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 600px;

    background-color: var(--clr-light);
    padding: 48px 64px;
    border-radius: 8px;
    box-shadow: 4px 4px 50px rgba(14, 14, 44, 0.25);

    display: flex;
    flex-direction: column;
    align-items: center;
}

.timer__close {
    position: absolute;
    top: 24px;
    right: 24px;
    cursor: pointer;
}

.timer__controls-container {
    list-style: none;

    display: flex;
    align-items: center;
    gap: 56px;
}

.timer__control {
    text-transform: uppercase;
    font-weight: bold;
    font-size: var(--size-body);
    padding: 8px 16px;
    cursor: pointer;
}

.timer__control.active {
    background-color: var(--clr-secondary);
    color: var(--clr-accent);
}

.timer__time {
    font-size: 128px;
    font-weight: bolder;
    margin-block: 24px 48px;
}
